* {
    box-sizing: border-box;
    text-align: center;
    background-color: slategray;

}
.navlist {
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.links {
    list-style: none;
    margin: 10px;
}
.links a {
    text-decoration: none;   
}
ul li {
    list-style-type: none;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.item1 {
    display: flex;
    border-style: outset;
    border: 10px solid gold;
    justify-content: center;
}

.item2 {
    display: flex;
    justify-content: center;
    border-style: inset;
    border: 10px solid green;
    
}

.item3 {
    display: flex;
    justify-content: space-between;
    border-style: inset;
    border: 10px solid blue;
}

#reelOne, #reelTwo, #reelThree {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: auto;
    padding: auto;
}
#spin {
    background-color: blue;
    margin-left: 30px;
}